################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NFL_App/NFL_App.Server/bin/Debug/net8.0
/NFL_App/NFL_App.Server/obj
/NFL_App/nfl_app.client/obj/Debug
/NFL_App/NFL_App.Server/.vs
